<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <style>
        .color { 
            width: 50px; 
            height: 50px; 
            background-color: #ccc;
            margin: 4px
        }
    </style>
</head>
<body>
    <h1>{{ title }}</h1>
    {% for color in colors %}
        <div class="color" 
            style="background-color:{{color.hexa}}">{{ color.name }}</div>
    {% endfor %}
</body>
</html>