{% extends "demo.base.html.twig" %}

{% block pageTitle %}demo 31{% endblock %}

{% block body %}

    <h3>Listes des étudiants</h3>

    {% for student in students %}
        <div>{{ student.name }} ({{ student.status }})</div>
    {% endfor %}


{% endblock %}