<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
    {% block pageTitle %}{% endblock %}
    </title>
    <link rel="stylesheet" href="/css/main.css" />
    <style>
        body { font-family: "Verdana" }
    </style>
</head>
<body>
    <h1>Template demo.base</h1>
    {% block body %}{% endblock %}
    {% block js %}{% endblock %}  
</body>
</html>


